
body {

  padding-top: 17vh;

	margin: 0;
  background-image: url("images/wallpaper.png");
	background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom;
  background-size: cover;
}


#content {
	width: 40vw;
	background-color:rgba(0.1, 0.1, 0.1, 0.95);
	box-shadow: 0 0 4.0vh 8.0vh rgba(0.1, 0.1, 0.1, 0.95);

	margin-left: auto;
	margin-right: auto;
}

.title {
  color: #ddd;
  text-align: center;
  font-size: 3.2vh;
}

.title p {
  margin: .6vh;
  font-family: "Lucida Console";
}

.logo {
  padding-top: 0;
  padding-bottom: 3vh;

  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 45vh;
}

.input-play {
  margin: auto;
  width: 50vh;
  padding: 1.0vh;

  display: flex;
  flex-direction: row;
}

input {
  color: #333;
  font-size: 1.8vh;
  border: none;

  width: 100%;
  padding: .8vh 2.0vh;
  background-color: #ccc;
  outline: none;

  border-radius: .5vh 0 0 .5vh;
}

input:focus {
  -webkit-box-shadow: 0 .5vh 2.0vh 0 rgba(0,0,0,1);
  -moz-box-shadow: 0 .5vh 2.0vh 0 rgba(0,0,0,1);
  box-shadow: 0 .5vh 2.0vh 0 rgba(0,0,0,1);

  background-color: #ddd;
}

.play-button {
  display: inline-block;
	
	width: 12.8vh;
	height: 4.2vh;

  background-color: #3b963e; /* Green */

  outline: none;
  border: none;
  border-radius: 0 .5vh .5vh 0;

  text-decoration: none;

  font-family: arial;
  font-size: 1.8vh;

  color:black;
  text-align: center;
}

.play-button:hover {
  background-color: #317033; /* Green */
  color: #eee;
}

.error-message{
	color: red;
	text-align: center;
	font-size: 2.2vh;
	font-family: Arial;
}

.player-score {
	color: #afc1f2;
	text-align: center;
	font-size: 4.8vh;
	font-family: Arial;
	margin-top: 2.5vh;
	margin-bottom: 2.5vh;
}

.player-rank {
	color: #ccc;
	text-align: center;
	font-size: 2.0vh;
	font-family: Arial;
}
.player-place {
	color: #fff;
	font-size: 2.6vh;
}

.input-play-again {
  text-align: center;
  padding-bottom: 10vh;
}

.play-again-button {
  display: inline-block;
	
	width: 20.8vh;
	height: 6.2vh;

  background-color: #3b963e; /* Green */

  outline: none;
  border: none;
  border-radius: .5vh;

  text-decoration: none;

  font-family: arial;
  font-size: 2.8vh;

  color:black;
  text-align: center;
}

.play-again-button:hover {
  background-color: #317033; /* Green */
  color: #eee;
}


/********** SCORE LEADERBOARD **********/


/* title */

.score-title {
  margin-left: auto;
  margin-right: auto;
}

.score-title p {
  text-align: center;
  font-size: 3.2vh;
  margin-top: 5.0vh;
  margin-bottom: 1.0vh;
  color: #ccc;
  font-family: "Lucida Console";
}

.score-title hr {
  width: 60vh;

  margin-left: auto;
  margin-right: auto;
}


.score-table {
  display: table; 
  width: 55vh;
  margin-left: auto;
  margin-right: auto;
}

.row {
  font-family: monospace;
  font-weight: normal;
  display: table-row;

  position: relative;
  font-size: 2.2vh;
  width: 100%;
  height: 4.5vh;
  border-bottom: .1vh solid #555;
  color: #aaa;
}

.name {
  display: inline-block;
  position: relative;

  text-align: left;
  width: 65%;
  line-height: 5.0vh;
}

.score {
  display: inline-block;
  position: relative;

  font-family: arial;
  text-align: right;

  width: 20%;
}


.duration {
  display: inline-block;
  position: relative;

  font-family: arial;
  text-align: right;

  color: #999;
  font-size: 2.0vh;
  width: 15%;
}


.row:nth-child(1) {
  color: gold;
  font-weight: bold;
  font-size: 2.6vh;
}

.row:nth-child(2) {
  color: #c0c0c0;
  font-weight: bold;
  font-size: 2.6vh;
}

.row:nth-child(3) {
  color: #cd7f32;
  font-weight: bold;
  font-size: 2.6vh;
}


/* SCROLLBAR */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #333; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #666; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}